<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joel.mycaster" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeeklyView"
            android:label="@string/title_activity_weekly_view" >
        </activity>
        <activity
            android:name=".SunRiseSet"
            android:label="@string/title_activity_sun_rise_set" >
        </activity>
        <activity
            android:name=".Almanac"
            android:label="@string/title_activity_almanac" >
        </activity>
        <activity
            android:name=".DayView"
            android:label="@string/title_activity_day_view" >
        </activity>
    </application>

</manifest>
